<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.strata.android_lib">
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />
    <!-- Required for gcm -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--Required for internet-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required for otp -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application>
        <activity
            android:name=".signin_otp.SigninActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".signin_otp.SignInWaitingActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".singin.SignupActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".singin.test"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"/>

        <receiver android:name=".signin_otp.LibSmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GCMIntentService" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
